header{
	padding: 30px 0 31px;
}
	
	.logo{
		float: left;
	}

	.header__phone{
		font-size: 24px;
		line-height: 1.23;
		float: right;
		padding: 9px 6px 0 0;
	}


@media (max-width: 767px){
	header{
		padding: 10px 0;
		position: relative;
		z-index: 999;
	}

	.search{
		float: none;
	}
}


@media (max-width: 479px){
	.header__phone{
		font-size: 16px;
		padding-top: 14px;
	}
}