nav{
	padding: 24px 0 16px;
}

.menu{
	float: left;

	li{
		display: inline-block;
		margin-right: 16px;
	}

	a:hover{
		color: #00acdd;
	}
}

.search{
	float: right;
	background-color: #fff;
	width: 258px;
	border-radius: 20px;
	padding: 0 0 0;
	margin: -10px 2px 0 0;

	&__input{
		height: 37px;
		width: 100%;
		background: none;
		border: none;
		color: #9d9d9d;
		padding: 0 21px;
		font-size: 16px;
		font-weight: 300;
	}
}

.resp-toggle-btn{
	display: none;
}



@media only screen and (max-width: 767px) {
	.resp-toggle-btn { display: inline-block; border: none; cursor: pointer; outline: none; width: 50px; height: 40px; position: relative; top: 8px; right: 12px; position: absolute; background: none;}
	  
	.resp-toggle-btn span { display: block; position: absolute; height: 2px; left: 8px; right: 8px; background-color: #2073b2; -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
	.resp-toggle-btn span.line1 { top: 11px; }
	.resp-toggle-btn span.line2 { top: 19px; }
	.menu > .hasUl > a::after { right: 22px; }
	.resp-toggle-btn span.line3 { top: 27px; }
	.navTrue .resp-toggle-btn span { left: 6px; right: 6px; }
	.navTrue .resp-toggle-btn span.line1 { -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 19px; }
	.navTrue .resp-toggle-btn span.line2 { opacity: 0; }
	.navTrue .resp-toggle-btn span.line3 { -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -o-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 19px; }
	.menu { position: absolute; left: 18px; right: 18px; top: 100%; z-index: 999; overflow: auto; background-color: #fff; padding: 0;border-radius: 5px; opacity: 0; visibility: hidden; -webkit-transition: all 0.4s ease; -moz-transition: all 0.4s ease; -o-transition: all 0.4s ease; transition: all 0.4s ease; border: 1px solid #2073b2;}

	.menu li{ float: none; display: block; padding: 0 0px; margin: 0; text-align: left; border-bottom: 1px solid #2073b2; }
	.menu a { display: block; padding: 10px 18px; color: #2073b2; font-size: 16px; }
	
	.menu a:hover{
		background-color: #2073b2;
		color: #fff;
	}
	.menu li:last-child{
		border: none;
	}

	.navTrue .menu{
		opacity: 1;
		visibility: visible;
	}
	.nav_overlay { position: fixed; opacity: 0; visibility: hidden; top: 0; left: 0; width: 100%; height: 100%; z-index: 888; color: #fff; background-color: #000; -webkit-transition: all 350ms ease; -moz-transition: all 350ms ease; -ms-transition: all 350ms ease; -o-transition: all 350ms ease; transition: all 350ms ease; }
	.navTrue .nav_overlay { opacity: .7; visibility: visible; }

	.search{
		margin: 0;
		float: none;
	}

	nav{
		padding: 10px 0;
		position: relative;
	}

}


@media (max-width: 479px){
	.search{
		width: 230px;
	}
}