.news-list{
	margin-top: -1px;
	padding: 0px 0 0;

	&__item{
		display: flex;
		margin-bottom: 20px;

		&-thumbnail{
			padding-top: 4px;
		}

		&-excerpt{
			padding-left: 30px;

			time{
				display: block;
				font-size: 16px;
				color: #808080;
				margin-bottom: 5px;
			}
		}
	}
}


@media (max-width: 479px){
	.news-list__item{
		display: block;


		&-excerpt{
			padding: 10px 0;
		}
	}
}