.slider{
	background-color: #fff;
	position: relative;
	overflow: hidden;

	&__item{
		min-height: 336px;
		display: flex;
		background-color: #2073b2;
		color: #fff;
		border-radius: 5px;
		overflow: hidden;

		&-description{
			width: 373px;
			font-size: 22px;
			line-height: 1.37;
			padding: 31px 29px;
			position: relative;
		}

		&-img{
			width: calc(100% - 373px);
		}

		&-info{
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px 0 22px 30px;
		}

			&-time{
				font-size: 13px;
				text-transform: uppercase;
				display: block;
				margin-bottom: 11px;
				
				span{
					opacity: .5;
				}

				&::before{
					display: inline-block;
					width: 14px;
					height: 14px;
					vertical-align: middle;
					background: url(../images/time-icon.png) 0 0 no-repeat;
					margin-right: 8px;
					content: "";
				}
			}
	}

	&__buttons{
		position: absolute;
		right: 20px;
		bottom: 21px;
		width: 61px;
		border-radius: 3px;
		overflow: hidden;
		display: flex;
		height: 26px;
		z-index: 10;
		background-color: #007ddd;
	}

		.slider-button{
			border: none;
			width: 50%;
			display: block;
			height: 100%;
			cursor: pointer;

			&.slider-button--prev{
				background: url(../images/slider-arrow-left.png) 50% 50% no-repeat;
			}
			&.slider-button--next{
				border-left: 1px solid rgba(255,255,255,.15);
				background: url(../images/slider-arrow-right.png) 50% 50% no-repeat;
			}

			&:not(.swiper-button-disabled):hover{
				background-color: #2b91e0;
			}

			&.swiper-button-disabled{
				cursor: default;
				opacity: .5;
			}
		}
}


@media (max-width: 767px){
	
	.slider__item{
		flex-wrap: wrap;
	}

	.slider__item-description,
	.slider__item-img{
		width: 100%;
	}

	.slider__item-img{
		order: 1;
		min-height: 250px;
	}

	.slider__item-description{
		order : 2;
		padding-bottom: 80px;
	}

}


@media (max-width: 479px){

	.slider__item-description{
		padding: 20px 20px 80px;
		font-size: 18px;
	}

}